.footer-container {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 20px !important;
    background-color: transparent !important; 
    color: #ffffff !important;
    position: fixed !important;
    bottom: 30px !important; 
    width: 100% !important;
    box-shadow: none !important; 
  }
  
  .footer-left {
    font-size: 30px !important;
    font-weight: bold !important;
    margin-left: 40px !important; 
  }
  
  .footer-right {
    font-size: 20px !important;
    font-style: italic !important;
    text-align: right !important;
    margin-right: 40px !important; 
  }
  
  .crimson-red {
    color: crimson !important;
  }